loc_based_oaps/dc_ga.py
loc_based_oaps/dgamod.py
loc_based_oaps/galoc_based_oaps.ini
loc_based_oaps/nvsmaxfid.dat
loc_based_oaps/__pycache__/dgamod.cpython-39.pyc
rew_based_oaps/act_sequence_n16_sample0.dat
rew_based_oaps/act_sequence_n16_sample1.dat
rew_based_oaps/act_sequence_n16_sample2.dat
rew_based_oaps/act_sequence_n16_sample3.dat
rew_based_oaps/act_sequence_n16_sample4.dat
rew_based_oaps/act_sequence_n16_sample5.dat
rew_based_oaps/act_sequence_n16_sample6.dat
rew_based_oaps/act_sequence_n16_sample7.dat
rew_based_oaps/act_sequence_n16_sample8.dat
rew_based_oaps/act_sequence_n16_sample9.dat
rew_based_oaps/act_sequence_n16_sample10.dat
rew_based_oaps/act_sequence_n16_sample11.dat
rew_based_oaps/act_sequence_n16_sample12.dat
rew_based_oaps/act_sequence_n16_sample13.dat
rew_based_oaps/act_sequence_n16_sample14.dat
rew_based_oaps/act_sequence_n16_sample15.dat
rew_based_oaps/act_sequence_n16_sample16.dat
rew_based_oaps/act_sequence_n16_sample17.dat
rew_based_oaps/act_sequence_n16_sample18.dat
rew_based_oaps/act_sequence_n16_sample19.dat
rew_based_oaps/act_sequence_n32_sample0.dat
rew_based_oaps/act_sequence_n32_sample1.dat
rew_based_oaps/act_sequence_n32_sample2.dat
rew_based_oaps/act_sequence_n32_sample3.dat
rew_based_oaps/act_sequence_n32_sample4.dat
rew_based_oaps/act_sequence_n32_sample5.dat
rew_based_oaps/act_sequence_n32_sample6.dat
rew_based_oaps/act_sequence_n32_sample7.dat
rew_based_oaps/act_sequence_n32_sample8.dat
rew_based_oaps/act_sequence_n32_sample9.dat
rew_based_oaps/act_sequence_n32_sample10.dat
rew_based_oaps/act_sequence_n32_sample11.dat
rew_based_oaps/act_sequence_n32_sample12.dat
rew_based_oaps/act_sequence_n32_sample13.dat
rew_based_oaps/act_sequence_n32_sample14.dat
rew_based_oaps/act_sequence_n32_sample15.dat
rew_based_oaps/act_sequence_n32_sample16.dat
rew_based_oaps/act_sequence_n32_sample17.dat
rew_based_oaps/act_sequence_n32_sample18.dat
rew_based_oaps/act_sequence_n32_sample19.dat
rew_based_oaps/act_sequence_n64_sample0.dat
rew_based_oaps/act_sequence_n64_sample1.dat
rew_based_oaps/act_sequence_n64_sample2.dat
rew_based_oaps/act_sequence_n64_sample3.dat
rew_based_oaps/act_sequence_n64_sample4.dat
rew_based_oaps/act_sequence_n64_sample5.dat
rew_based_oaps/act_sequence_n64_sample6.dat
rew_based_oaps/act_sequence_n64_sample7.dat
rew_based_oaps/act_sequence_n64_sample8.dat
rew_based_oaps/act_sequence_n64_sample9.dat
rew_based_oaps/act_sequence_n64_sample10.dat
rew_based_oaps/act_sequence_n64_sample11.dat
rew_based_oaps/act_sequence_n64_sample12.dat
rew_based_oaps/act_sequence_n64_sample13.dat
rew_based_oaps/act_sequence_n64_sample14.dat
rew_based_oaps/act_sequence_n64_sample15.dat
rew_based_oaps/act_sequence_n64_sample16.dat
rew_based_oaps/act_sequence_n64_sample17.dat
rew_based_oaps/act_sequence_n64_sample18.dat
rew_based_oaps/act_sequence_n64_sample19.dat
rew_based_oaps/dc_ga.py
rew_based_oaps/dgamod.py
rew_based_oaps/garew_based_oaps.ini
rew_based_oaps/nvsmaxfid.dat
rew_based_oaps/__pycache__/dgamod.cpython-39.pyc
rew_based_zhang/act_sequence_n16_sample0.dat
rew_based_zhang/act_sequence_n16_sample1.dat
rew_based_zhang/act_sequence_n16_sample2.dat
rew_based_zhang/act_sequence_n16_sample3.dat
rew_based_zhang/act_sequence_n16_sample4.dat
rew_based_zhang/act_sequence_n16_sample5.dat
rew_based_zhang/act_sequence_n16_sample6.dat
rew_based_zhang/act_sequence_n16_sample7.dat
rew_based_zhang/act_sequence_n16_sample8.dat
rew_based_zhang/act_sequence_n16_sample9.dat
rew_based_zhang/act_sequence_n16_sample10.dat
rew_based_zhang/act_sequence_n16_sample11.dat
rew_based_zhang/act_sequence_n16_sample12.dat
rew_based_zhang/act_sequence_n16_sample13.dat
rew_based_zhang/act_sequence_n16_sample14.dat
rew_based_zhang/act_sequence_n16_sample15.dat
rew_based_zhang/act_sequence_n16_sample16.dat
rew_based_zhang/act_sequence_n16_sample17.dat
rew_based_zhang/act_sequence_n16_sample18.dat
rew_based_zhang/act_sequence_n16_sample19.dat
rew_based_zhang/act_sequence_n32_sample0.dat
rew_based_zhang/act_sequence_n32_sample1.dat
rew_based_zhang/act_sequence_n32_sample2.dat
rew_based_zhang/act_sequence_n32_sample3.dat
rew_based_zhang/act_sequence_n32_sample4.dat
rew_based_zhang/act_sequence_n32_sample5.dat
rew_based_zhang/act_sequence_n32_sample6.dat
rew_based_zhang/act_sequence_n32_sample7.dat
rew_based_zhang/act_sequence_n32_sample8.dat
rew_based_zhang/act_sequence_n32_sample9.dat
rew_based_zhang/act_sequence_n32_sample10.dat
rew_based_zhang/act_sequence_n32_sample11.dat
rew_based_zhang/act_sequence_n32_sample12.dat
rew_based_zhang/act_sequence_n32_sample13.dat
rew_based_zhang/act_sequence_n32_sample14.dat
rew_based_zhang/act_sequence_n32_sample15.dat
rew_based_zhang/act_sequence_n32_sample16.dat
rew_based_zhang/act_sequence_n32_sample17.dat
rew_based_zhang/act_sequence_n32_sample18.dat
rew_based_zhang/act_sequence_n32_sample19.dat
rew_based_zhang/act_sequence_n64_sample0.dat
rew_based_zhang/act_sequence_n64_sample1.dat
rew_based_zhang/act_sequence_n64_sample2.dat
rew_based_zhang/act_sequence_n64_sample3.dat
rew_based_zhang/act_sequence_n64_sample4.dat
rew_based_zhang/act_sequence_n64_sample5.dat
rew_based_zhang/act_sequence_n64_sample6.dat
rew_based_zhang/act_sequence_n64_sample7.dat
rew_based_zhang/act_sequence_n64_sample8.dat
rew_based_zhang/act_sequence_n64_sample9.dat
rew_based_zhang/act_sequence_n64_sample10.dat
rew_based_zhang/act_sequence_n64_sample11.dat
rew_based_zhang/act_sequence_n64_sample12.dat
rew_based_zhang/act_sequence_n64_sample13.dat
rew_based_zhang/act_sequence_n64_sample14.dat
rew_based_zhang/act_sequence_n64_sample15.dat
rew_based_zhang/act_sequence_n64_sample16.dat
rew_based_zhang/act_sequence_n64_sample17.dat
rew_based_zhang/act_sequence_n64_sample18.dat
rew_based_zhang/act_sequence_n64_sample19.dat
rew_based_zhang/dc_ga.py
rew_based_zhang/dgamod.py
rew_based_zhang/garew_based_zhang.ini
rew_based_zhang/nvsmaxfid.dat
rew_based_zhang/__pycache__/dgamod.cpython-39.pyc
rew_based_zhang2/act_sequence_n32_sample0.dat
rew_based_zhang2/act_sequence_n32_sample1.dat
rew_based_zhang2/act_sequence_n32_sample2.dat
rew_based_zhang2/act_sequence_n32_sample3.dat
rew_based_zhang2/act_sequence_n32_sample4.dat
rew_based_zhang2/act_sequence_n32_sample5.dat
rew_based_zhang2/act_sequence_n32_sample6.dat
rew_based_zhang2/act_sequence_n32_sample7.dat
rew_based_zhang2/act_sequence_n32_sample8.dat
rew_based_zhang2/act_sequence_n32_sample9.dat
rew_based_zhang2/dc_ga.py
rew_based_zhang2/dgamod.py
rew_based_zhang2/garew_based_zhang2.ini
rew_based_zhang2/nvsmaxfid.dat
rew_based_zhang2/__pycache__/dgamod.cpython-39.pyc
job.sh
job_variable_n.sh
optuna_job.sh
job_variable_n.sh
